

.areas {
  
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  gap: 10px;
  max-width: 1400px;

  /* justify-content: space-around; */
}

.areas-container {
  min-width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  min-height: 400px;
  padding: 15px;
  transition: transform 0.3s ease;
}

.areas-container:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.areas_and_guests {
  display: flex;
}

.header-container {
  
  text-align: center;
}

.guest-container {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0 55px 20px 55px;
}

.services ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
